<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Notca</title>
</head>
<body>
	<h1>ADD Notícia</h1>
	<br>
	<% if(errors){%>
		<ul>
			<% for(var i=0; i<errors.length; i++){%>
				<li>
					<%=errors[i].msg%>
				</li><%}%>
		</ul>
	<%}%>

	<form action="/noticias/salvar" method="post">
		<label>Título</label><br>
		<input type="text" id="titulo" name="titulo" placeholder="Título da Notíca">
		<br>
		<label>Resumo</label><br>
		<input type="text" id="resumo" name="resumo" placeholder="Resumo da Notíca">
		<br>
		<label>Author</label><br>
		<input type="text" id="autor" name="autor" placeholder="Autor da Notíca">
		<br>
		<label>Notícía</label><br>
		<textarea id="noticia" name="noticia" rows="5" cols="30"></textarea>
		<br>
		<input type="submit" value="Envar">
	</form>

</body>
</html>
